/* About Section */
.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.about-content img {
  max-width: 400px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.about-content p {
    flex: 1;
    min-width: 300px;
    text-align: left;
}